[submodule "charango"]
	path = charango
	url = git://github.com/ssssam/charango.git
[submodule "iris"]
	path = iris
	url = git://github.com/ssssam/iris.git
[submodule "tracker"]
	path = subprojects/tracker
	url = git://git.gnome.org/tracker/
